# Python
*.pyc
*.pyo
__pycache__/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
static/

# Virtual Environment
venv/
env/
ENV/
.venv/
.ENV/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# OS Files
.DS_Store
Thumbs.db

# Environment Variables
.env

# Coverage Reports
.coverage
.coverage.*
.cache

# Test Results
nosetests.xml
pytest*.xml
*.cover
*.tox
*.nox
*.coverage
*.hypothesis
*.pytest_cache

.env
__pycache__
pipfile.lock

